.p3{
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: black;
    background-color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    text-align: center;
}
.h2{
    text-align: right;
}
