h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}
h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}